<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.junce.ssm.dao.ActiveDao">


    <resultMap id="queryActive" type="java.util.HashMap">
        <result column="active_id" property="activeId" jdbcType="FLOAT"></result>
        <result column="active_name" property="activeName" jdbcType="VARCHAR"></result>
        <result column="active_img_url" property="activeImgUrl" jdbcType="VARCHAR"></result>
        <result column="active_url" property="activeUrl" jdbcType="VARCHAR"></result>
    </resultMap>

    <select id="queryActive" resultMap="queryActive" parameterType="com.junce.ssm.model.ActiveBean">
        SELECT * FROM dream_active;
    </select>


    <resultMap id="queryNotice" type="java.util.HashMap">
        <result column="notice_id" property="noticeId" jdbcType="FLOAT"></result>
        <result column="notice_name" property="noticeName" jdbcType="VARCHAR"></result>
        <result column="notice_url" property="noticeUrl" jdbcType="VARCHAR"></result>
    </resultMap>

    <select id="queryNotice" parameterType="com.junce.ssm.model.NoticeBean" resultMap="queryNotice">
        SELECT * FROM dream_notice WHERE notice_status = 0
    </select>

    <!--<insert id="addNote" parameterType="com.junce.ssm.model.Note">
        INSERT  INTO
        eip_note(note_id,note_title,note_create_time,note_content,user_id,note_status)
        VALUES
        (#{noteId},#{noteTitle},#{noteCreateDate},#{noteContent},#{userId},#{noteStatus})
    </insert>

    <resultMap id="getNotes" type="java.util.HashMap">
        <result column="note_id" property="noteId" jdbcType="VARCHAR"/>
        <result column="note_title" property="noteTitle" jdbcType="VARCHAR"/>
        <result column="note_content" property="noteContent" jdbcType="VARCHAR"/>
        <result column="note_create_date" property="noteCreateTime" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getNotes" parameterType="com.junce.ssm.model.NoteQuery" resultMap="getNotes">
      SELECT * FROM eip_note  WHERE user_id=#{userId} limit #{start},#{limit}
    </select>

    <select id="getNoteCount" parameterType="String" resultType="Integer">
        SELECT COUNT(*) C FROM eip_note WHERE user_id=#{userId}
    </select>-->

</mapper>